<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NecessaryAdminTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <runtime>
        <!-- MULTICORE OPTIMIZATION: Enable server GC for better multicore performance -->
        <gcServer enabled="true" />
        <!-- Enable concurrent GC for reduced pause times -->
        <gcConcurrent enabled="true" />

        <!-- TAG: #DPI_FINAL_FIX - No per-monitor overrides needed with System DPI -->
        <!-- System DPI awareness works reliably without AppContext switches -->
    </runtime>
    <userSettings>
        <NecessaryAdminTool.Properties.Settings>
            <setting name="LastUser" serializeAs="String">
                <value>process\</value>
            </setting>
        </NecessaryAdminTool.Properties.Settings>
    </userSettings>
</configuration>